<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fullstack template</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>Homepage</h1>
  <form action="/new" method="POST">
    <label for="textinput">Input text</label>
    <input type="text" name="textinput">
    <br>
    <label for="numinput">Input text</label>
    <input type="number" name="numinput" value="0">
    <br>
    <button type="submit">Add Item</button>
  </form>
  <ul>
     <% itemsList.forEach(item => { %>
        <li>
          <div><%= item.textinput %></div>
          <div><%= item.numinput %></div>
          <a href="/edit/<%= item._id %>">Edit</a>
          <a href="/edit/remove/<%= item._id %>">Remove</a>
        </li>
     <% }) %>
  </ul>
  <br>
  <br>
  <!-- Div to show the scanner -->
  <div id="scanner-container"></div>
  <input type="button" id="btn" value="Start/Stop the scanner" />
  
  <script src="/main.js"></script>
  <script src="/quagga.min.js"></script>
</body>
</html>